
/Assignment1/.vscode
/Assignment1/code/build
/Assignment2/.vscode
/Assignment2/code/build
/Assignment3/.vscode
/Assignment3/Code/build
/Assignment3/Code/.vscode
/Assignment4/.vscode
/Assignment4/code/build
/Assignment5/Code/.vscode
/Assignment5/Code/build
/Assignment6/Code/.vscode
/Assignment6/Code/build
/Assignment7/Code/.vscode
/Assignment7/Code/build
/assignment8/build
/pa0/.vscode
/pa0/build
